extends layout

block content
  h1= title
  p #{title} Platformuna Hoşgeldiniz..
  p Bütün javascript frameworklerini,kütüphanelerini ya da javascript ile ilgili her şeyi
    | bulabileceğiniz bir platformdur kendileri.
